python-programming.code-workspace
Hacker News Pipeline/hn_stories_2014_full.json
Python Scripts/cornell_movie_dialogs_corpus/__MACOSX/cornell movie-dialogs corpus/._.DS_Store
Python Scripts/cornell_movie_dialogs_corpus/__MACOSX/cornell movie-dialogs corpus/._chameleons.pdf
Python Scripts/cornell_movie_dialogs_corpus/cornell movie-dialogs corpus/.DS_Store
Python Scripts/cornell_movie_dialogs_corpus/cornell movie-dialogs corpus/chameleons.pdf
Python Scripts/cornell_movie_dialogs_corpus/cornell movie-dialogs corpus/movie_lines_full.txt
Python Scripts/Emails_full.csv
